h1{
    border: solid;
    color: rgb(255, 255, 255);
    background-color: rgb(108, 212, 178);
    
}

p { text-align: center;}

div{ border: solid;
    color: ghostwhite;
    background-color:lightcoral
    
}


.h3  {
    display:flex;
    justify-content: space-evenly; 
    flex-wrap:wrap;
    
}

.h4 {
    display:flex;
    justify-content:  flex-end;
}